/* Base */

*,
*::before,
*::after {
    /* размеры блока padding  border  отсчитывать внутрь блока */
    box-sizing: border-box;
}

body {
    /* font-family: "Play", sans-serif; */

    /* Доминантный */
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-primary-bluedark);
    /* 21 /18=1.2 */
    line-height: 1.2;
    /* center в доминантные задают? нужен в 1. .under-button 2. section h2 3.  .section-why-us-p 4. h3 ...
  ПОка убираю здесь . м.б. отменять его будет больше , чем назначать. ПОзже  */
    /* text-align: center; */

    /* по-умолч margin body есть. убрать */
    margin: 0;
    background-image: linear-gradient(38.2deg,
            rgba(43, 127, 255, 0.2) 39.74%,
            rgba(43, 127, 255, 0) 54.16%,
            rgba(43, 127, 255, 0) 66.66%);
}

/* УБрать дефолт margin-top всем заголовкам и параграфам*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

a {
    /* всем ссылкам, чтобы сделать ссылку блоковой. Т.е. в нем буду работать размеры,
    но оно останется строчный(рядковым) . т.е. не будет растягиваться на всю ширину родительского элемента. */
    display: inline-block;
}

address {
    font-style: normal;
}

ul {
    /* пока всем ul - margin сверху снизу 0 */
    margin: 0;
    padding: 0;
    /* убрать значки кружков перед элементами списка ВСЕХ на странице. селектор тэга ul, без классов*/
    list-style-type: none;
}