/* h2 span { */
.text-brand {
    /* все span заколовки , которые такого цвета - с этим классом .text-brand */
    color: var(--color-primary-blue);
}

.text-bold {
    // все заголовки секций h2 700 (доминантный 400)
    // font-weight: 700;
    //700 есть в общем section__title, оттуда используется

    // для span (он, правда, один такой about-us) и там есть .beauty-zone
    font-weight: 600;

}

.text-capitalize {
    text-transform: capitalize;
}


.logo-width {
    //размеры лого разные. в 5 местах (по index – в 3х, еще 2 – это адаптив хедера и футера)
    //3 мобильные - одинак (моб хедер, моб футер, моб меню)
    width: $logo-mob;

    &__header {
        //верхний моб (без --header) не берет при использовании класса logo-width--header
        // ни так __, ни так --. Прилшлось повторять
        width: $logo-mob;

        @media screen and (min-width: $bp-desktop) {
            width: $logo-header;
        }
    }

    &__footer {
        width: $logo-mob;
        margin-bottom: 22px; //от лого до 1-го меню мобверсии. В образце нет - ненадо выдерживать отступ?
        //по макету 42px. есть gap 20px. ДОб. 22px до 42 мобверсии

        @media screen and (min-width: $bp-desktop) {
            width: $logo-footer;
        }
    }

}

// .text-uppercase {
//     text-transform: uppercase;
// }



// .text-left {
//     /* все h2 center, кроме about-us-section */
//     text-align: left;
//     // нет, так не сработало.
//     // добавлено в _section.scss section__title--left
// }