:root {
    --color-primary-white: #fff;
    --color-primary-blue: #2b7fff;
    --color-primary-bluedark: #011c44;

    --color-secondary-grey1: #4a4a4a;
    --color-secondary-grey2: #4a4a4a;
    --color-secondary-greylight: #747272;
    --color-secondary-bluedark: #011f4a;
    --color-secondary-yellow: #ffd02b;
    --color-black: #000;
}

// Цвет тени блюр карточек why-us-section
$color-primary-bluelight: #A8C6F5;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;


//для logo width
$logo-header: 74px;
$logo-mob: 57px;
// $logo-header-mob: 57px;
// $logo-footer-mob: 57px;
// $logo-mobMenu: 57px;
$logo-footer: 83px;