/* h2 span { */
.text-brand {
    /* все span заколовки , которые такого цвета - с этим классом .text-brand */
    color: var(--color-primary-blue);
}

.text-bold {
    // все заголовки секций h2 700 (доминантный 400)
    // font-weight: 700;
    //700 есть в общем section__title, оттуда используется

    // для span (он, правда, один такой about-us) и там есть .beauty-zone
    font-weight: 600;

}

.text-capitalize {
    text-transform: capitalize;
}

// .text-uppercase {
//     text-transform: uppercase;
// }



// .text-left {
//     /* все h2 center, кроме about-us-section */
//     text-align: left;
//     // нет, так не сработало.
//     // добавлено в _section.scss section__title--left
// }