/* Footer */

.footer {
    /* пока на весь экран по горизонтали. позже наверное*/
    /* png - Прозрачная картинка */
    background-image: url("../images/footer-background.png");
    background-color: var(--color-primary-bluedark);
    background-repeat: no-repeat;
    background-position: center top;
    /* background-size: cover; */

    /* padding: 56px; убрать отступы слева справа*/
    padding: 56px 0;
    /* Слева- спрва в уроке убрали. Но можно 100 поставить, если Надо. Не меняет при resize визуально  ничего */
    /* padding: 56px 100px; */

    /* для пары к   position: absolute;  к ::after  картинке бутылочек*/
    position: relative;

    // .footer::after {
    &::after {
        /* картинка бутылочки внизу справа  */
        position: absolute;
        /* png - Прозрачная картинка */
        background-image: url(../images/PhotoRoom.png);
        /* т.к. это – декор, ненадо добавлять через разметку html тэгом img, а делаем псевдоэлементом after. */
        content: "";
        /* добавлением размера фона картинка не появилась */
        /* background-size: 247px 152px; */
        /* размеры задать явно*/
        width: 247px;
        height: 152px;
        /* размеры задали явно, поэтому меняем на 100% */
        /* background-size: 100%; */
        /* убрали 100% т.к. доавили no-repeat */
        background-repeat: no-repeat;

        /* поместить в нижний правый угол after */
        bottom: 0;
        right: 0;
    }


    //вверх
    // .footer-container {
    // .footer__container {
    &__container {
        display: flex;
        /* между блоками крупными 2-мя - элементами flex (nav и address) родительского footer-container */
        gap: 20px;
    }

    // .footer-nav,  .footer-address {
    // .footer__nav, .footer__address {
    &__nav,
    &__address {
        /* .footer-nav -  для логотип и список ul стали в один ряд */
        /* .footer-address -  чтобы ul и addres-info (copyright и ...) стали в ряд */
        display: flex;
        flex-basis: 50%;
        /* между блоками- элементами flex каждого родительского. попарно */
        gap: 20px;
    }


    // .footer-logo,.footer-menu {
    // .footer__logo, .footer__menu {
    &__logo,
    &__menu {
        /* для логотип и список ul заняли по 50% в своем flex*/
        flex-grow: 1;
    }

    &__ul {
        // для отступов между меню навигации и адреса 16
        // index - <ul class="footer__ul">
        //причем - всех списков в футере (навигации, адресов)
        // background-color: aqua;

        // // /* между Li -ссылками - снизу 16, кроме последнего */
        // // .footer-ul li:not(:last-child) {
        // // .footer__ul li:not(:last-child) {
        // // &__ul li:not(:last-child) {
        // // & li:not(:last-child) {
        // & li:not(:last-child) {
        //     margin-bottom: 16px;
        //     // background-color: chartreuse;
        // }

        // // .footer-ul li:last-child {
        // // &__ul li:last-child {
        // & li:last-child {
        //     margin-bottom: 0;
        // }

        // /* между Li -ссылками - снизу 16, включая последний */
        // Будет везде под элементами списков 16 в футере. Под последним у навигации тоже. НО – там визуально много места,
        // неважно. Но – если надо – там (последнему li меню –списку навигации) отдельный класс сделать,
        // убирающий этот отступ для последнего элемента меню


        // & { так не рабюотает (без li). 
        // И li без пробела не сработал,
        // он (footer_ul в indeх) далеко от1-го уровня вложенности в index (<address class="footer__address footer__ul">).address-icon
        //и близко не сработал без пробела <ul class="footer__ul">
        & li {
            margin-bottom: 16px;
            // background-color: chartreuse;
        }

    }

    // .footer-link {
    // .footer__link {
    &__link {
        color: var(--color-primary-white);
        font-size: 16px;
        /* 16/19 =1.18  1.2 default */
        //text-decoration: none; //перенесено в класс .link
        /* анимация переход цвета ссылки при hover - плавно меняется цвет текста и фонт*/
        //transition: color 0.2s, font-weight 0.2s; //перенесено в класс .link
    }


    // .address-lists, .address-info {
    // .footer__address-lists, .footer_address-info {
    // &__address-lists,     &__address-info {
    &__contacts,
    &__address-info {
        //это классы div-ов, в которых список и info соответственно
        /* во 2м flex address - 2 внутренних элемента ( div .address-lists  и .address-info) занимают по 50% */
        //чтобы одинаковое свободное место занимали
        flex-grow: 1;
    }


    //это чисто тэги были   address li
    /* между Li -адресами - снизу 16 у всех, включая последний */
    //теперь - 1. расстояние между li 16 с пом. footer__ul 
    //         2. последнему - таки тоже 16 снизу, но с пом. - над соц.иконками 16
    //         2.1. нет - всем 2м спискам ul снизу li в футере - 16, включая последний Li 
    //               (использ. в списках 1.меню навигации  и 2.меню адресов-ссылок)
    //               .footer_ul    переделать на БЕЗ last-child
    //         2.1.1 одному последнему Li  в меню навигации - отдельный класс можно (убрать отступ снизу). Но визуально - там неважно, много места снизу, можно оставить с отступом после последнго li
    // address li {
    // .footer__social-before li {
    &__social-before li {
        margin-bottom: 16px;
    }


    //вверх на уровень footer
    /* .address-icon */
    // .address-icon -> .footer__address-icon
    // .address-icon {
    // .footer__address-icon {
    // &__address-icon {
    &__socials-icon {
        fill: var(--color-primary-white);
        transition: fill 0.2s;
        /* выше на flex-Родителе .icon-link-ul   
  background: transparent; */
        /* обводка иконки нет */
        /* stroke: red; */

        //вверх на уровено address-icon
        // .address-icon :hover {
        // .footer__address-icon :hover {
        // &__address-icon :hover {
        & :hover {
            /* иконки как текст при навдении, мб ненадо, в UIKit один цвет иконок, но разный цвет текста рядом есть */
            fill: var(--color-primary-blue);
        }
    }


    // .copyrigt {
    // .footer__copyrigt {
    &__copyrigt {
        /* иначе a от p не подвинулось, только mrgn-top */
        margin-top: 16px;
        margin-bottom: 0;
        font-size: 13px;
        color: var(--color-secondary-greylight);
    }


}

// //вверх
// // .footer::after {
// &::after {
//     /* картинка бутылочки внизу справа  */
//     position: absolute;
//     /* png - Прозрачная картинка */
//     background-image: url(../images/PhotoRoom.png);
//     /* т.к. это – декор, ненадо добавлять через разметку html тэгом img, а делаем псевдоэлементом after. */
//     content: "";
//     /* добавлением размера фона картинка не появилась */
//     /* background-size: 247px 152px; */
//     /* размеры задать явно*/
//     width: 247px;
//     height: 152px;
//     /* размеры задали явно, поэтому меняем на 100% */
//     /* background-size: 100%; */
//     /* убрали 100% т.к. доавили no-repeat */
//     background-repeat: no-repeat;

//     /* поместить в нижний правый угол after */
//     bottom: 0;
//     right: 0;
// }


//этот никуда не поднимала, не используется пока
.footer-container-my0 {
    /*  общий внешний .container 1440x278 */
    /* этот .footer-container 1240x166 */
    /* background-color: red; */
    border: 4px solid var(--color-secondary-bluedark);
    max-width: 1240px;
    width: 100%;
    /* 4 блока (логотип+ nav+ address+copyright) стали горизонтально рядом
        но align-items=stretch по-умолч - поэтому растянут общий список  иконок по вертикали на всю высоту строки - родительского элемента */
    display: flex;
    /* сделать область иконок не растянутой stretch (по-умолч), а центрированной по вертикали */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    /* для разделить все 4 блока внутри при уменьшении размера экрана */
    /* gap: 186px; */
    padding: 56px 100px;

    /* ДЛя адаптива .    */
    /* max-width: 1240px; */

    justify-content: space-between;

    /* отцентрировать этот flex относительно внешнего container */
    /* margin: 0 auto; */
}


// //вверх
// // .footer-container {
// // .footer__container {
// &__container {
//     display: flex;
//     /* между блоками крупными 2-мя - элементами flex (nav и address) родительского footer-container */
//     gap: 20px;
// }

// //вверх
// // .footer-nav,  .footer-address {
// // .footer__nav, .footer__address {
// &__nav,
// &__address {
//     /* .footer-nav -  для логотип и список ul стали в один ряд */
//     /* .footer-address -  чтобы ul и addres-info (copyright и ...) стали в ряд */
//     display: flex;
//     flex-basis: 50%;
//     /* между блоками- элементами flex каждого родительского. попарно */
//     gap: 20px;
// }


// //вверх
// // .footer-logo,.footer-menu {
// // .footer__logo, .footer__menu {
// &__logo,
// &__menu {
//     /* для логотип и список ul заняли по 50% в своем flex*/
//     flex-grow: 1;
// }



// //вверх
// // .footer-link {
// // .footer__link {
// &__link {
//     color: var(--color-primary-white);
//     font-size: 16px;
//     /* 16/19 =1.18  1.2 default */
//     //text-decoration: none; //перенесено в класс .link
//     /* анимация переход цвета ссылки при hover - плавно меняется цвет текста и фонт*/
//     //transition: color 0.2s, font-weight 0.2s; //перенесено в класс .link
// }

/* вопрос - в макете ничем не отличается выделенный элемент меню нвигации footer
Сделан, как header-link:hover*/
/* перенесен к .header-link:hover  Через запятую */
/* .footer-link:hover { */
/* color: var(--color-primary-blue); */
/* text-decoration: underline; */
/* font-weight: 700; */
/* } */


// //вверх - 1.на уровне footer Доб-ть &__ul  2. в уровень &__ul вложить эти 2 
// /* между Li -ссылками - снизу 16, кроме последнего */
// // .footer-ul li:not(:last-child) {
// // .footer__ul li:not(:last-child) {
// &__ul li:not(:last-child) {
//     margin-bottom: 16px;
// }

// // .footer-ul li:last-child {
// &__ul li:last-child {
//     margin-bottom: 0;
// }



/* .footer-address-ul {
  сузить блок адресов
  max-width: 192px;
  max-height: 166px;
  width: 100%;
} */

/* .footer-address-ul li:last-child {
  max-width: 203;
} */


// // вверх вложить в уровень footer 1й
// //это чисто тэги были
// /* между Li -адресами - снизу 16 у всех, включая последний */
// //теперь - 1. расстояние между li 16 с пом. footer__ul 
// //         2. последнему - таки тоже 16 снизу - над соц.иконками 16
// // address li {
// // .footer__social-before li {
// &__social-before li {
//     margin-bottom: 16px;
// }


// //вверх
// // .address-lists, .address-info {
// // .footer__address-lists, .footer_address-info {
// &__address-lists,
// &__address-info {
//     /* во 2м flex address - 2 внутренних элемента ( div .address-lists  и .address-info) занимают по 50% */
//     flex-grow: 1;
// }

// // их 2 класса было с одним названием - переношу в header  отсюда  (из footer)
// .icon-link-ul {
//     // от footer-a
//     /* 174x42 */
//     max-width: 174px;
//     max-height: 42px;
//     width: 100%;
//     justify-content: space-between;
//     /* иконки на синем фоне - нет так. свовсем не видно!!!! вернуться */
//     /* по Mod10 иконки svg backcolor белый, теперь это надо */
//     background-color: transparent;
// }

// //перенесла в _header.scss пока. может потом выделю icon-link-ul
// /* иконки в header и footer одинак с mrgn-bt=0. взял 16 от "address li". Обнулить */
// .icon-link-ul li {
//     margin-bottom: 0;
// }

// .icon-link-ul img {
//     /* margin-bottom: 0; */
//     /* ??? */
//     /* картинку как 42 42 сдеать? max-width: 42px; */
//     max-height: 42px;
//     width: 100%;
// }

/* .footer-last li:not(:last-child) { */
/* .confidens { */
/* background-color: red; */
/* f12 отражает, но поверх текста нижнего, реально не отодвигает :*/
/* margin-bottom: 16px; */
/* } */


// //вверх на уровень footer
// /* .address-icon */
// // .address-icon -> .footer__address-icon
// // .address-icon {
// // .footer__address-icon {
// &__address-icon {
//     fill: var(--color-primary-white);
//     /* выше на flex-Родителе .icon-link-ul   
//   background: transparent; */
//     /* обводка иконки нет */
//     /* stroke: red; */
// }

// //вверх на уровено address-icon
// // .address-icon :hover {
// // .footer__address-icon :hover {
// // &__address-icon :hover {
// & :hover {
//     /* иконки как текст при навдении, мб ненадо, в UIKit один цвет иконок, но разный цвет текста рядом есть */
//     fill: var(--color-primary-blue);
// }


// //вверх
// // .copyrigt {
// // .footer__copyrigt {
// &__copyrigt {
//     /* иначе a от p не подвинулось, только mrgn-top */
//     margin-top: 16px;
//     margin-bottom: 0;
//     font-size: 13px;
//     color: var(--color-secondary-greylight);
// }