/* Hero-section*/

.hero-section {
    /* к Блок1 */
    /* padding: 1358px 1175px 337px 397px; */
    /* к «Group 46196» */
    /* width: 1501.96px;
    height: 687.93px;
    top: -0.6px;
    left: -38px;
    gap: 0px;
    opacity: 0px; */

    /* padding: 123px 729px 157px 244px; перенесено в .hero-title */

    /* background-color: burlywood; */
    /* позже наверное слоями позиционированием */
    background-image: linear-gradient(89.38deg,
            var(--color-primary-white) 30.62%,
            rgba(255, 255, 255, 0.850898) 41.31%,
            rgba(92, 88, 88, 0.193) 58.65%,
            rgba(255, 255, 255, 0) 72.78%),
        url("../images/hero-section-background.jpg");
    /* background-image: url("../images/hero-section-background.jpg"); через запятую сделан к градиенту */
    background-repeat: no-repeat;

    /* позиционирвоание - позже , h1 ездит , img большая  */
    /* background-position: center bottom; */
    /* Голова помещается */
    background-position: center top;
    background-size: cover;


    // .under-button {
    &__under-button {
        margin-bottom: 0;
        /* font-family: "Roboto", sans-serif; */
        font-size: 12px;
        color: var(--color-secondary-grey1);
        /* 18/12=1.5 */
        line-height: 1.5;
        /* текст ограничить по ширине вмесТо br, чтобы перенос на 2ю строку был  */
        max-width: 238px;
        text-align: center;
        /* отступ от кнопки  до параграфа под кнопкой */
        // перенесла сюда из .hero-section .button, чтобы его (.hero-section .button) убрать вообще
        // было margin-bottom: 14px;
        // это сделано padding-top у параграфа .under-button
        padding-top: 14px;
    }


    // .hero-title {
    // .hero-section__title {
    &__title {
        padding: 123px 729px 157px 244px;

        /* Hero-title */

        /* Плохой вариант  (единый h1  = mini + span big),
не нравится мне пока
1. Шрифт мелкий все равно браузером увеличиватеся. А он доминантный,
заново задавать здесь дял вернуть на доминантный или … 
a. Менять доминантный – уже что-то на этом основано ниже. Не буду пока 
2. 16px между обеспечивать – пробовала – пока без div никак,
span –плохо, br … 
Пока оставлю p mini + h1 big .
 Потом вса-равно блоки из них делать,
чтобы позиционировать квадратиком по всем грницам. */

        /*  Hero   h1 отдельно:  
p mini "Косметологічна клініка" + h1 big "beauty zone" */

        /*1. Косметологічна клініка   mini-text  p параграфом*/
        // .hero-title-mini {
        // .hero-section__title--mini {
        // &_title--mini {
        &--mini {
            /* меняем дефолтный для <p> margin-bottom 18px на 16 px по дизайну*/
            margin-bottom: 16px;
            /* font все из доминанта 18px 400  1.2 */
            color: var(--color-primary-bluedark);
            /* тени нет */
            /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
        }

        /*2. Hero h1   -  big beauty zone*/

        // .hero-title-big {
        // .hero-section__title--big {
        // &__title--big {
        &--big {
            /* УБрать дефолт margin-bottom этому заголовку (аж 116 был дефолт)*/
            /* Пока оставлю 40 - снизу до кнопки, пменять потом мб на 0!!!!!!!! После div */
            margin-bottom: 40px;

            color: var(--color-primary-blue);
            font-family: Play, sans-serif;
            text-align: left;
            // text-bold можно в index .   // убрала font-weight 700 здесь, но он сам в вычислено 700 пишет. от h2 из section__title  font-width 700
            font-weight: 700;
            // text-transform: capitalize; //.text-capitalize
            font-size: 140px;
            /*Line height  114 / font-size 140  */
            line-height: 0.81;
            /* в 2 строки beauty zone big */
            max-width: 530px;

            /* border-radius: 2px 2px 2px 116px; */
            /* text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);   из макета . Не работает*/
            /* text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
            /* -moz-text-decoration-line: 4px rgba(0, 0, 0, 0.25);
  text-stroke: 4px rgba(0, 0, 0, 0.25); */
            /* у меня визуально был шрифт с обрамлением. в макете - таки нет. */
            /* -webkit-text-stroke: 4px rgba(0, 0, 0, 0.25); */

            /* 16px между minn and big-SPAN не получается ни margin-top: 16px; ни  padding-top: 16px; */
            /* margin-top: 16px; */
            /* padding-top: 16px; */

            /* font-style: italic; */
            /* text-transform: capitalize; */
            /* text-shadow: 2px 2px 4px violet;
  letter-spacing: 4px;
  word-spacing: 4px;
  white-space: nowrap; */
        }

    }
}

// //перенесен выше внутрь .hero-section-a
// // .hero-title {
// // .hero-section__title {
// &__title {
//     padding: 123px 729px 157px 244px;
// }

/* .above-title {
  font-size: 18px;
} */

// /* Hero-title */
// // //--big  и --mini перенесены выше внутрь .hero-section-a внутрь &_title


// /* Плохой вариант  (единый h1  = mini + span big),
// не нравится мне пока
// 1. Шрифт мелкий все равно браузером увеличиватеся. А он доминантный,
// заново задавать здесь дял вернуть на доминантный или … 
// a. Менять доминантный – уже что-то на этом основано ниже. Не буду пока 
// 2. 16px между обеспечивать – пробовала – пока без div никак,
// span –плохо, br … 
// Пока оставлю p mini + h1 big .
//  Потом вса-равно блоки из них делать,
// чтобы позиционировать квадратиком по всем грницам. */

// /*  Hero   h1 отдельно:  
// p mini "Косметологічна клініка" + h1 big "beauty zone" */

// /*1. Косметологічна клініка   mini-text  p параграфом*/
// // .hero-title-mini {
// // .hero-section__title--mini {
// // &_title--mini {
// // //перенесен выше внутрь .hero-section-a внутрь &_title
// &--mini {
//     /* меняем дефолтный для <p> margin-bottom 18px на 16 px по дизайну*/
//     margin-bottom: 16px;
//     /* font все из доминанта 18px 400  1.2 */
//     color: var(--color-primary-bluedark);
//     /* тени нет */
//     /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
// }

// /*2. Hero h1   -  big beauty zone*/

// // .hero-title-big {
// // .hero-section__title--big {
// // &__title--big {
// // //перенесен выше внутрь .hero-section-a внутрь &_title
// &--big {
//     /* УБрать дефолт margin-bottom этому заголовку (аж 116 был дефолт)*/
//     /* Пока оставлю 40 - снизу до кнопки, пменять потом мб на 0!!!!!!!! После div */
//     margin-bottom: 40px;

//     color: var(--color-primary-blue);
//     font-family: Play, sans-serif;
//     text-align: left;
//     font-weight: 700;
//     text-transform: capitalize;
//     font-size: 140px;
//     /*Line height  114 / font-size 140  */
//     line-height: 0.81;
//     /* в 2 строки beauty zone big */
//     max-width: 530px;

//     /* border-radius: 2px 2px 2px 116px; */
//     /* text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);   из макета . Не работает*/
//     /* text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
//     /* -moz-text-decoration-line: 4px rgba(0, 0, 0, 0.25);
//   text-stroke: 4px rgba(0, 0, 0, 0.25); */
//     /* у меня визуально был шрифт с обрамлением. в макете - таки нет. */
//     /* -webkit-text-stroke: 4px rgba(0, 0, 0, 0.25); */

//     /* 16px между minn and big-SPAN не получается ни margin-top: 16px; ни  padding-top: 16px; */
//     /* margin-top: 16px; */
//     /* padding-top: 16px; */

//     /* font-style: italic; */
//     /* text-transform: capitalize; */
//     /* text-shadow: 2px 2px 4px violet;
//   letter-spacing: 4px;
//   word-spacing: 4px;
//   white-space: nowrap; */
// }

//были ниже, под button, перенесла сюда в hero-section
//УБРАЛА - рассуждения (2 - размер кнопки и отступ до параграфа под кнопкой) - внутри
// .hero-section .button {
//     /* 2 button in page. width -разные */
//     /* width: 219px; */
//     //!!! f12 - убрать эти оба width, эти 219 сами получаются
//     //  --- width: 100%;
//     //  --- max-width: 219px;
//     // НО – тогда для больше 100% полчуается с кнопкйо и текстом под ней – нехорошо,
//     //     ширина маленькая. Уменьшается из-за переноса текста в кнопке наверное. И текст снизу становится в 4 строки,
//     //     сужается. Надо задавать таки ширину?
//     // А при заданной ширине – тоже самое после 100% - ширина ументшается. Наверное перенос текста такое дает. Так сказать – не переносить текст ! ! !
//     // Или пусть изменяется ширина кнопки? 

//     // На образце пекарни – переносится текст на кнопке и расширяется ширина– так можно. 
//     // Пусть

//     /* отступ снизу до параграфа под кнопкой */
//     // ----margin-bottom: 14px;
//     // это сделать padding-top у параграфа .under-button
// }

// // .under-button {
// перенесен здесь выше в /hero-section
// &__under-button {
//     margin-bottom: 0;
//     /* font-family: "Roboto", sans-serif; */
//     font-size: 12px;
//     color: var(--color-secondary-grey1);
//     /* 18/12=1.5 */
//     line-height: 1.5;
//     /* текст ограничить по ширине вмесТо br, чтобы перенос на 2ю строку был  */
//     max-width: 238px;
//     text-align: center;
//     /* отступ от кнопки  до параграфа под кнопкой */
//     // перенесла сюда из .hero-section .button, чтобы его (.hero-section .button) убрать вообще
//     // было margin-bottom: 14px;
//     // это сделано padding-top у параграфа .under-button
//     padding-top: 14px;
// }