/* Section 2 About us */

.section-about-us {
    /* убрать от одинаковых отступов между .section для между 1-2 отступ. тут иначе, пока неясно как /
  pad-bot=0  остается для 2-й, надо*/
    padding-top: 0;
    /*между 2 и 3й секциями не 96, а 176. 128=176-48 (pdgtop 3й секции  одинаковые)*/
    padding-bottom: 128px;
}

.about-us-container {
    /*чтобы горизонтально расположить: текстоввая часть слева - 2 картинки справа */
    display: flex;
    /* ДЛя адаптива .  + max-width 709 в .about-us-content  */
    justify-content: space-between;
    /* между div c  текстами слева и ul c картинками справа */
    gap: 34px;
    /* для star */
    position: relative;
}


/* About-us-title */
.about-us-title {
    /* h2 отличается от всех h2 отступ снизу 40px, поэтому этоу h2 отдельный класс */
    margin-bottom: 40px;
    /* картинка первая выше текста на 40px */
    padding-top: 40px;
    /* все h2 center, кроме этого */
    text-align: left;
    /* для переноса текста - как на макете, буква "в" на 2й строке */
    max-width: 529px;
}

.beauty-zone-h2 {
    /* span in h2*/
    text-transform: capitalize;
    font-weight: 700;
    /* line-height =1.2    74.05/64=1/1=1.15 округл до 1.2 - доминантный возьмется */
}

/* About-us-text */

.about-us-content {
    /* ширина блока с текстом на макете так. */
    max-width: 709px;
    /*+ justify-content: space-between; в .about-us-container  */
}

/* .about-us-p { */
/* Класс у параграфов  в section about-us  можно убрать . Убрала.
Шрифт задать от родительского div*/
.about-us-content p {
    font-size: 22px;
    /* font-weight: 400; наследует */

    /* 38/22 */
    line-height: 1.7;
    /* тени нет */
    /* text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
}

/* последний параграф - 0px. все параграфы этого класса обнулить margin-bottom, 
  чтобы потом непоследнему p сделать отступ 40) */
/* .about-us-p {  
  margin-bottom: 0px;
} */

/* А чего это я аж от самого верхнего уровня .section-about-us  до p добиралась.
  Навернео не было еще столько div внутри .
  Поближе div взять */
/* .section-about-us p:last-of-type { */

.about-us-content p:last-of-type {
    /* последнему параграфу обнулить отступ снизу (или можно всем параграфам секции 2 обнулить отступ снизу в .about-us-p {}).
        Чтобы потом НЕПОСЛЕДНИМ p сделать отступ margin-bottom 40) */
    /* Легче здесь было бы - параграфам сделать margin-top=40, margin-bottom=0 , 
  а h2 обнулить сверху-снизу margin. 
  Но - принято margin-bottom задавать внутри родительских */
    margin-bottom: 0px;
    /* для переноса текста в p1 - как на макете, не получится ограничением max-width. 
  На макете слишком разные строки по длите - одной длиной не получится. 
   br делать.
     НО- br при изменении размера экрана некрасиво скачут. Лучше вообще убрать. Одну оставить br первую. и последнюю*/
    /* max-width: 603px; для перенести на2ю строку "та"*/
}

/* Так (если от section идти к p)-  все элементы - тэги, и img звездочки . Тип p надо выделить */
/* .section-about-us :not(:last-child) { */

/* .section-about-us p:not(:last-of-type) {   поближе div взять*/

.about-us-content p:not(:last-of-type) {
    /* параграф от следующего отделяется 40 px. НЕ ПОСЛЕДНИЙ. вдруг добавят параграф, добавляла -ок) */
    margin-bottom: 40px;
    /* для переноса текста в p1 - как на макете, буква "з догляду" на 2й строке . или br*/
    max-width: 670px;
}

.beauty-zone {
    /* span in p */
    text-transform: capitalize;
    font-weight: 600;
}

/* можно  так  font-weight: 700; сделать для h2 , если одинак классы beauty-zone*/
/* .about-us-title span {
  background-color: red;
  font-weight: 700;
} */

/* About-us Image */
.about-us-ul-img {
    /* список img размер для разного выравнивания элементов li влево вправо */
    max-width: 499px;
    /* таки ненадо – уезжает из-за этого ф12 картинка нижняя на 1px под границу вниз области ul 695: */
    /* max-height: 695px; */
    /* Влияет на расположение картинок к разным краям. если убрать - четко одна под одной, без сдвигов влево вправо :*/
    width: 100%;

    /* max-height: 695px; */
    /* ненадо – уезжала область списка с картинками снизу за div .about-us-container 1240x783.
   а about-us-ul-img 499x695. 695+40=735 по высоте картинки+40. 
   Т.е. 735 < 783. норм.
    А что уезжает вниз за границу div?
    ф12  -  Margin-bottom у самих картинок. Убрать
  */
}

.about-us-ul-img :last-child {
    /* background-color: red; */
    /* img нижняя вправо */
    text-align: right;
}

/* Было так (без li - добавляло отступ снизу ОБЕИМ картинкам) */
/* .about-us-ul-img :first-child { */

.about-us-ul-img li:first-child {
    /* background-color: green; */
    /* img верхн влево итак  */
    /* text-align: left; */
    /* отступ между картинками 40px */
    margin-bottom: 40px;
}

/* .about-us-ul-img li:last-child {
  background-color: red;
} */

.about-us-ul-img img {
    /* размер картинок для установки расстояния между  ними по вертикали */
    /* background-color: blue; */
    max-width: 327px;
    max-height: 327px;
    /* не убрало в области картинок отступ . */
    /* margin-bottom: 0; */
    /* Да,
      он ниже назначается. Или наследоание от li,
      - послденее назначение срабатывает.
      Или надо выдеить при назначении margin-bottom: 40px; тип – список li, исключив картиинку . 
      да. указание типа первого дочернего li помогло, исключив img из .about-us-ul-img: first-child */

    /* в круг картинку (ф12 подбирала, потом размер/2  327/2=163)*/
    border-radius: 163px;
}