/* Container for center общий, у всех секци одинаковый*/
.container {
    /* width: 1240px; */
    /* надо чтобы сайт не менял размеры при изменении адаптив-размеров (экрана)  */
    width: 100%;
    /* max-width: 1240px; */
    /* 1288=1240+24*2   т.к. padiing (ниже установлен "padding: 0 24px;") из-за установленного box-sizing (отсчет отступов вовнутрь) не учитываются, их надо добавить */
    max-width: 1288px;
    /* центрировать контейнер container относително макс размера горизонтально */
    margin: 0 auto;
    /* чтобы слева-справа не прирлипал к границе - внутренний отступ  в контейнере сделать: */
    padding: 0 24px;

    // border: 1px solid red; //убрать!!!
}