/* Section 5 Contacts */
/* 1059x602 */
// .contact-section {
.contacts-section {
  padding-bottom: 0px;

  @media screen and (min-width: $bp-desktop) {
    /* только последней секции, для обеспечить расстояние до футера 96
  эти 96 и установить, а не 48 пополам , как было для отступов между секциями выше */
    padding-bottom: 96px;
  }

  // .contacts-container {
  // .contacts-section__container {
  &__container {
    /* 1059x480 - без h2 */
    /*чтобы горизонтально расположить:   карта слева - форма справа */
    display: flex;
    /* ДЛя адаптива .  + max-width 709   */
    max-width: 1059px;
    justify-content: space-between;
    /* между картой слева и div формы справа */
    gap: 32px;
    /* отцентрировать этот flex относительно внешнего container */
    margin: 0 auto;
  }


  //вверх
  /* .contacts-container iframe { */
  // .contact-map {
  // .contacts-section__map {
  &__map {
    /* чтобы карта не сжималась после flex родителю и gap. Она в БЗ и не сжималась */
    flex-shrink: 0;
    /* убрать рамку вокруг map. Ее и нет нет (из-за border-color: transparent; )*/
    border: none;
    /* max-width: 605px;
      max-height: 481px;
     */
    //в образце у карты - width  height четко указаны, без max и 100%:
    width: 605px;
    height: 481px;

    border-radius: 32px;
    border-color: transparent;
    //для Центрировать карту по высоте в flex-e существующем,общем с формой.
    //Когда убрала высоту для формы (по замечаниям к дз3), явно стала видна разница высоты
    // карты и формы (форма стала выше без h), а фон у карты и формы разный , разница в глаза бросается
    //Решение - центрирвоать по высоте карту в общем flex с формой
    margin: auto;
  }

  &__form {

    // /* .signup-free {   переименовала*/
    // .contact-form-back {
    // хотя .contacts-section__form  - нет. но пусть пока
    // .contacts-section__form--back {
    &--back {
      /* подложка формы - фон, бордер... */
      /* 423x481 */
      max-width: 422px;
      // Приберіть властивість max-height для форми (.contact-form-back) - на випадок,
      //     якщо замовник вирішить додати додаткові поля,
      //     щоб не було обмеження по висоті
      // max-height: 482px;

      //так, без указания высоты, резко видно разницу высоты соседней карты и этой формы
      // max-height: 482px;
      //вернула пока - так одинаковая высота карты и формы на странице визуально
      // Без этого h - форма больше карты по высоте. но карта выравнена по высоте по центру margin auto
      //посмотреть размеры и отступы самой формы, может она долдна выйти на  высоту 482 сама!!! 
      //!!!
      // да. ! ! ! Отступы 16,  а не 24 (как в modal) - сделано ниже 16 для contacts &__form-field 


      background-color: var(--color-primary-bluedark);
      border: 4px solid var(--color-secondary-bluedark);
      border-radius: 32px;
      /* justify-content: space-between; */
      padding: 48px 56px;
    }

  }

  // .modal__form-field { modal 24 , contacts 16)
  // .contacts-section__form-field
  &__form-field {
    /* отступы между div (label+input)   для contacts другие , 16 (не 24 как для Modal) */
    margin-bottom: 16px;
    // И меньше  стала по высоте форма на contacts-section. И почти выровнялась с картой по высоте
  }
}

// //вверх
// // .contacts-container {
// // .contacts-section__container {
// &__container {
//     /* 1059x480 - без h2 */
//     /*чтобы горизонтально расположить:   карта слева - форма справа */
//     display: flex;
//     /* ДЛя адаптива .  + max-width 709   */
//     max-width: 1059px;
//     justify-content: space-between;
//     /* между картой слева и div формы справа */
//     gap: 32px;
//     /* отцентрировать этот flex относительно внешнего container */
//     margin: 0 auto;
// }


// //вверх
// /* .contacts-container iframe { */
// // .contact-map {
// // .contacts-section__map {
// &__map {
//     /* чтобы карта не сжималась после flex родителю и gap. Она в БЗ и не сжималась */
//     flex-shrink: 0;
//     /* убрать рамку вокруг map. Ее и нет нет (из-за border-color: transparent; )*/
//     border: none;
//     /* max-width: 605px;
//   max-height: 481px;
//  */
//     //в образце у карты - width  height четко указаны, без max и 100%:
//     width: 605px;
//     height: 481px;

//     border-radius: 32px;
//     border-color: transparent;
// }


/* form sign up free */
/* .signup-free {   переименовала*/
// .contact-form-back {

// //вверх
// /* .signup-free {   переименовала*/
// // .contact-form-back {
// // .contacts-section__form--back {
// хотя .contacts-section__form  - нет. но пусть пока
// &--back {
//     /* подложка формы - фон, бордер... */
//     /* 423x481 */
//     max-width: 422px;
//     // Приберіть властивість max-height для форми (.contact-form-back) - на випадок,
//     //     якщо замовник вирішить додати додаткові поля,
//     //     щоб не було обмеження по висоті
//     // max-height: 482px;
//     background-color: var(--color-primary-bluedark);
//     border: 4px solid var(--color-secondary-bluedark);
//     border-radius: 32px;
//     /* justify-content: space-between; */
//     padding: 48px 56px;
// }

/* дальше  .signup-free  все ненадо. Была разметка без формы. уберется при scss
// форма работает - по modal
.signup-free-p {
  max-width: 274px;
  margin-bottom: 32px;
  text-align: center;
}

.signup-free p:first-child {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-primary-white);
}

/* signup-free-p-free  -> text-brand,
 из .css убрать .signup-free-p-free. 
 Будет работать существующий теперь .text-brand */
/* .signup-free-p-free { */
/* или .signup-free-p span{} */
/* span "безкоштовно" на форме  */
/* color: var(--color-primary-blue); */
/* } */

/* .signup-free-p span {
  background-color: red;
} */

// .signup-free-input {
//     font-size: 13px;
//     /* 400 и 15/13=1.2 дефолт */
//     color: var(--color-primary-white);
//     border-radius: 32px;
//     border: 2px solid var(--color-secondary-greylight);
//     padding: 18px 33px;
//     /* между всеми полями ввода и до кнопки сверху */
//     margin-bottom: 16px;
// }

// .signup-free-input:hover {
//     /* не видно серого как на KIT, все синее вернуться!!! */
//     background-color: transparent;
// }

// .signup-button {
//     /* для расположить кнопку с текстом под ней - по центру и ппо нужному width */
//     max-width: 281px;
//     max-height: 97px;
//     width: 100%;
//     text-align: center;
// }

// .signup-free .button {
//     /* width: 281px; */
//     width: 100%;
//     max-width: 281px;
//     /* Width, height не задавать в px, надо в %, и   max-width: 1240px; */
//     /* height: 53px; */
//     /* отступ снизу до параграфа под кнопкой */
//     margin-bottom: 8px;
// }

// /* стиль .button у 2х кнопок - .hero-section  и на форме .signup-free
// но форма - синяя, буквы такие же при hover невидно текста.
// в uikit нет стиля. поэтому так  - цвет фона здесь не транспарант, а мепнять на синенький*/
// .signup-free .button:hover {
//     background-color: var(--color-primary-blue);
// }

// .signup-free .under-button {
//     /* background-color: red; */
//     color: var(--color-secondary-greylight);
//     /* для переноса текста */
//     max-width: 213px;
//     /* text-align: center; */
//     margin: 0 auto;
// }

// .privacy-policy {
//     text-decoration: underline;
//     text-decoration-skip-ink: none;
// }