/* Footer */

.footer {
    /* пока на весь экран по горизонтали. позже наверное*/
    /* png - Прозрачная картинка */
    background-image: url("../images/footer-background.png");
    background-color: var(--color-primary-bluedark);
    background-repeat: no-repeat;
    background-position: center top;
    /* background-size: cover; */

    /* padding: 56px; убрать отступы слева справа*/
    padding: 56px 0;
    /* Слева- спрва в уроке убрали. Но можно 100 поставить, если Надо. Не меняет при resize визуально  ничего */
    /* padding: 56px 100px; */

    /* для пары к   position: absolute;  к ::after  картинке бутылочек*/
    position: relative;
}

.footer::after {
    /* картинка бутылочки внизу справа  */
    position: absolute;
    /* png - Прозрачная картинка */
    background-image: url(../images/PhotoRoom.png);
    /* т.к. это – декор, ненадо добавлять через разметку html тэгом img, а делаем псевдоэлементом after. */
    content: "";
    /* добавлением размера фона картинка не появилась */
    /* background-size: 247px 152px; */
    /* размеры задать явно*/
    width: 247px;
    height: 152px;
    /* размеры задали явно, поэтому меняем на 100% */
    /* background-size: 100%; */
    /* убрали 100% т.к. доавили no-repeat */
    background-repeat: no-repeat;

    /* поместить в нижний правый угол after */
    bottom: 0;
    right: 0;
}

.footer-container-my0 {
    /*  общий внешний .container 1440x278 */
    /* этот .footer-container 1240x166 */
    /* background-color: red; */
    border: 4px solid var(--color-secondary-bluedark);
    max-width: 1240px;
    width: 100%;
    /* 4 блока (логотип+ nav+ address+copyright) стали горизонтально рядом
        но align-items=stretch по-умолч - поэтому растянут общий список  иконок по вертикали на всю высоту строки - родительского элемента */
    display: flex;
    /* сделать область иконок не растянутой stretch (по-умолч), а центрированной по вертикали */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    /* для разделить все 4 блока внутри при уменьшении размера экрана */
    /* gap: 186px; */
    padding: 56px 100px;

    /* ДЛя адаптива .    */
    /* max-width: 1240px; */

    justify-content: space-between;

    /* отцентрировать этот flex относительно внешнего container */
    /* margin: 0 auto; */
}

.footer-container {
    display: flex;
    /* между блоками крупными 2-мя - элементами flex (nav и address) родительского footer-container */
    gap: 20px;
}

.footer-nav,
.footer-address {
    /* .footer-nav -  для логотип и список ul стали в один ряд */
    /* .footer-address -  чтобы ul и addres-info (copyright и ...) стали в ряд */
    display: flex;
    flex-basis: 50%;
    /* между блоками- элементами flex каждого родительского. попарно */
    gap: 20px;
}

.footer-logo,
.footer-menu {
    /* для логотип и список ul заняли по 50% в своем flex*/
    flex-grow: 1;
}

.footer-link {
    color: var(--color-primary-white);
    font-size: 16px;
    /* 16/19 =1.18  1.2 default */
    //text-decoration: none; //перенесено в класс .link
    /* анимация переход цвета ссылки при hover - плавно меняется цвет текста и фонт*/
    //transition: color 0.2s, font-weight 0.2s; //перенесено в класс .link
}

/* вопрос - в макете ничем не отличается выделенный элемент меню нвигации footer
Сделан, как header-link:hover*/
/* перенесен к .header-link:hover  Через запятую */
/* .footer-link:hover { */
/* color: var(--color-primary-blue); */
/* text-decoration: underline; */
/* font-weight: 700; */
/* } */

/* между Li -ссылками - снизу 16, кроме последнего */
.footer-ul li:not(:last-child) {
    margin-bottom: 16px;
}

.footer-ul li:last-child {
    margin-bottom: 0;
}

/* .footer-address-ul {
  сузить блок адресов
  max-width: 192px;
  max-height: 166px;
  width: 100%;
} */

/* .footer-address-ul li:last-child {
  max-width: 203;
} */

/* между Li -адресами - снизу 16 у всех, включая последний */
address li {
    margin-bottom: 16px;
}

.address-lists,
.address-info {
    /* во 2м flex address - 2 внутренних элемента ( div .address-lists  и .address-info) занимают по 50% */
    flex-grow: 1;
}

// // их 2 класса было с одним названием - переношу в header  отсюда  (из footer)
// .icon-link-ul {
//     // от footer-a
//     /* 174x42 */
//     max-width: 174px;
//     max-height: 42px;
//     width: 100%;
//     justify-content: space-between;
//     /* иконки на синем фоне - нет так. свовсем не видно!!!! вернуться */
//     /* по Mod10 иконки svg backcolor белый, теперь это надо */
//     background-color: transparent;
// }

// //перенесла в _header.scss пока. может потом выделю icon-link-ul
// /* иконки в header и footer одинак с mrgn-bt=0. взял 16 от "address li". Обнулить */
// .icon-link-ul li {
//     margin-bottom: 0;
// }

// .icon-link-ul img {
//     /* margin-bottom: 0; */
//     /* ??? */
//     /* картинку как 42 42 сдеать? max-width: 42px; */
//     max-height: 42px;
//     width: 100%;
// }

/* .footer-last li:not(:last-child) { */
/* .confidens { */
/* background-color: red; */
/* f12 отражает, но поверх текста нижнего, реально не отодвигает :*/
/* margin-bottom: 16px; */
/* } */



/* .address-icon */
// .address-icon -> .footer__address-icon

// .address-icon {
.footer__address-icon {
    fill: var(--color-primary-white);
    /* выше на flex-Родителе .icon-link-ul   
  background: transparent; */
    /* обводка иконки нет */
    /* stroke: red; */
}

// .address-icon :hover {
.footer__address-icon :hover {
    /* иконки как текст при навдении, мб ненадо, в UIKit один цвет иконок, но разный цвет текста рядом есть */
    fill: var(--color-primary-blue);
}

.copyrigt {
    /* иначе a от p не подвинулось, только mrgn-top */
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 13px;
    color: var(--color-secondary-greylight);
}