/* Section all  */
/* одинаковый класс всем секциям, кроме header,footer,hero-section */
.section {
  /* расстояния 96 между секциями - по 48 вертикальным отступам каждый соседний 
  1.верхняя секция padding-bottom и 2. Нижняя соседняя секция padding-top  */
  /* горизонтальные- 0 */
  padding: 48px 0;

  /* Main h2*/
  /* Для всех section h2  : */
  // /*section h2 {*/ 
  // /*section h2*/ переделать в класс section__title 
  // и добавить в html этот класс ко всем секциям 
  //Для задания стиля тэгами section h2 (тэги) ненадо было в html ничего писать. 
  //Если класс – надо добавлять во все тэги h2 этот класс
  //перенесен в _section.scss
  // .section__title {
  &__title {
    font-family: "Play", sans-serif;
    font-size: 64px;
    font-weight: 700;
    /*74px/64px =1.16 ~ 1.2 наследует*/
    /* line-height: 1.2; */

    /* ДЛя всех h2 всех секций 48. ДЛя 2-й секции about-us - отдельный класс - только во 2й 40px */
    margin-bottom: 48px;
    text-align: center;


    &--left {
      //     /* все h2 center, кроме about-us-section */
      // так сработало left
      // Проблема была - срабатывает только из section_title text-align: center;
      // А Left Из других файлов scss не берет
      text-align: left;
      //так работает. Но - можно убрать. Другое решенеие - В maim.scss перенесла section вверх, как в образце - теперь приоритетено србатывают стили текущей секции. в ф12 они выше , над _section
    }
  }

}

// /* Main h2*/
// /* Для всех section h2  : */
// // /*section h2 {*/ 
// // /*section h2*/ переделать в класс section__title 
// // и добавить в html этот класс ко всем секциям 
// //Для задания стиля тэгами section h2 (тэги) ненадо было в html ничего писать. 
// //Если класс – надо добавлять во все тэги h2 этот класс
// //перенесен в _section.scss
// // .section__title {
// &__title {
//   font-family: "Play", sans-serif;
//   font-size: 64px;
//   font-weight: 700;
//   /*74px/64px =1.16 ~ 1.2 наследует*/
//   /* line-height: 1.2; */

//   /* ДЛя всех h2 всех секций 48. ДЛя 2-й секции - отдельный класс - только во 2й 40px */
//   margin-bottom: 48px;
//   text-align: center;
// }