/*  icon-link-ul */
// вынесла в отд. файл @import в main.scss
// их 2 класса было с одним названием - перенесла сюда (в header)  из footer
.icon-link-ul {
    // от header
    display: flex;
    flex-flow: row wrap;
    /* вернуться!!! */
    background: white;
    /* background: transparent; */

    // от footer-a
    /* 174x42 */
    max-width: 174px;
    max-height: 42px;
    width: 100%;
    justify-content: space-between;
    /* иконки на синем фоне - нет так. свовсем не видно!!!! вернуться */
    /* по Mod10 иконки svg backcolor белый, теперь это надо */
    background-color: transparent;

    // на этом уровне - (родитель-список ul  ) css переход не сработал (задержка окраски)
    // пробую на вложеннм классе icon-link - тоже не сработал
    //сделано на самом svg .footer__address-icon (задержка ухода белого в голубой)
    // transition: fill .2s;
}


/* icon-link и его Hover Добавляла для перехода css иконок соцсетей -h*/
//
// на роительском уровне (.icon-link-ul - родитель-список ul) css переход не сработал (задержка окраски)
// пробую на вложеннм классе icon-link - тоже не сработал
// (не был испльзован пока в стилях  класс icon-link- добавляю только для transition) 
//тоже не работает
//убираю
//сделано на самом svg .footer__address-icon (задержка ухода белого в голубой)
// .icon-link {
//     transition: fill 2s;
// }
//
// .icon-link :hover {
//     /* При наведені на іконки hover зʼявляється тільки коли наводиш саме на лінію іконки, а коли курсор в середині іконки (на білому фоні) hover не працює. Думаю треба ховер задати "коробочці" іконки, тегу li наприклад */
//     fill: var(--color-primary-blue);
// }
//
/* icon-link и его Hover Добавляла для перехода css иконок соцсетей -e*/


.icon-link-ul :hover {

    /* При наведені на іконки hover зʼявляється тільки коли наводиш саме на лінію іконки, а коли курсор в середині іконки (на білому фоні) hover не працює. Думаю треба ховер задати "коробочці" іконки, тегу li наприклад */
    /* Выделяется при наведенеии только на свой квдратик самого значка, между ними (если это все для браузеоа - ul) – не срабаывает. 
  ок */
    /* Причем – это и хедер и в футер – один класс на ul */
    /* так - норм. при наведении  */
    fill: var(--color-primary-blue);

    //так (.icon-link-ul  transition 2s) не срабатывает переход задержка цвета иконки соцсетей (без задержки срабатыал просто цвет этим родительским классом .icon-link-ul  )
    //сделано на самом svg .footer__address-icon (задержка ухода белого в голубой)
}

//для перехода при hover задержки цвета иконки- срабатывает только так (обратным процессом - уход основного цвета)
//сделано на самом svg .footer__address-icon (задержка ухода белого в голубой)
.footer__address-icon,
.header__address-icon {
    transition: fill 0.2s;
}

// .header__address-icon {
//     transition: fill 0.2s;
// }

// может, вынесу в свои файлы Header footer  эти  transition



//перенесла в _header.scss пока. может потом выделю icon-link-ul
/* иконки в header и footer одинак с mrgn-bt=0. взял 16 от "address li". Обнулить */
// нужен в футере только по идее (в хедере этого родителя address нет , mrgn-bt=0 итак) но ничего не ломает. пусть
.icon-link-ul li {
    margin-bottom: 0;
}



// Img нет. Img cделано svg – можно убрать это:
// .icon-link-ul img {
//     /* margin-bottom: 0; */
//     /* ??? */
//     /* картинку как 42 42 сдеать? max-width: 42px; */
//     max-height: 42px;
//     width: 100%;
// }