/*  icon-link-ul */
// вынесла в отд. файл @import в main.scss
// их 2 класса было с одним названием - перенесла сюда (в header)  из footer
.icon-link-ul {
    // от header
    display: flex;
    flex-flow: row wrap;
    /* вернуться!!! */
    background: white;
    /* background: transparent; */

    // от footer-a
    /* 174x42 */
    max-width: 174px;
    max-height: 42px;
    width: 100%;
    justify-content: space-between;
    /* иконки на синем фоне - нет так. свовсем не видно!!!! вернуться */
    /* по Mod10 иконки svg backcolor белый, теперь это надо */
    background-color: transparent;
}

.icon-link-ul :hover {
    /* При наведені на іконки hover зʼявляється тільки коли наводиш саме на лінію іконки, а коли курсор в середині іконки (на білому фоні) hover не працює. Думаю треба ховер задати "коробочці" іконки, тегу li наприклад */

    /* Выделяется при наведенеии только на свой квдратик самого значка, между ними (если это все для браузеоа - ul) – не срабаывает. 
  ок */
    /* Причем – это и хедер и в футер – один класс на ul */
    /* так - норм. при наведении  */
    fill: var(--color-primary-blue);
}


//перенесла в _header.scss пока. может потом выделю icon-link-ul
/* иконки в header и footer одинак с mrgn-bt=0. взял 16 от "address li". Обнулить */
// нужен в футере только по идее (в хедере этого родителя address нет , mrgn-bt=0 итак) но ничего не ломает. пусть
.icon-link-ul li {
    margin-bottom: 0;
}

// Img нет. Img cделано svg – можно убрать это:
// .icon-link-ul img {
//     /* margin-bottom: 0; */
//     /* ??? */
//     /* картинку как 42 42 сдеать? max-width: 42px; */
//     max-height: 42px;
//     width: 100%;
// }