.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: aquamarine;
  gap: 16px;
  padding-top: 16px;

  @media screen and (min-width: $bp-desktop) {
    gap: 24px;
    padding-top: 32px;
  }

  &__button {
    width: 8px;
    height: 8px;
    padding: 0;
    background-color: var(--color-secondary-greylight);
    border-radius: 50%;

    @media screen and (min-width: $bp-desktop) {
      width: 11px;
      height: 11px;
    }

    &--active {
      background-color: var(--color-primary-blue);
    }
  }
}