.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: aquamarine;
  gap: 24px;
  padding-top: 32px;

  &__button {
    width: 12px;
    height: 12px;
    padding: 0;
    background-color: var(--color-secondary-greylight);
    border-radius: 50%;

    &--active {
      background-color: var(--color-primary-blue);
    }
  }
}