// вынесно сюда из /layouts/_procedure-section.scss

.procedure-card {

    // .procedure-card {
    // .procedure-section__card {
    // &__card {
    /* пока так градиент на 3х картинках процедур. позже слоями наверное */
    /* для спозиционирвать на карточке фон-изображение. вместе с .procedure-card-image      position: absolute; */
    position: relative;
    /* max-width: 344px;*/
    height: 456px;
    background-image: linear-gradient(180.05deg,
            rgba(1, 28, 68, 0) 48.53%,
            rgba(1, 28, 68, 0.725825) 84.61%,
            var(--color-primary-bluedark) 101.39%);
    border-radius: 4px 120px;

    /* для расположить текст на карточке к нижнему краю, был к верхнему */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    // }


    // .procedure-card-image {
    // .procedure-section__image { нет,  отдельный файл
    // .procedure-card__image {
    &__image {
        position: absolute;
        /* для растянуть картинку по всей ширине карточки procedure-card */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px 120px;
        /* положить jpg ниже текста карточки, иначе текст не виден, накрывается картинкой */
        z-index: -1;
        /* max-width: 344px; */
        /* max-height: 456px; */
    }


    /* h3 без класса был, других h3 нет. только На картинках процедур */
    // h3 {
    // .procedure-section__titleh3 { нет  отдельный файл
    // .procedure-card__titleh3 {
    &__titleh3 {
        /* до процедуры де.,   Rectangle 5080,   Rectangle 5081  снизу от текста h3 .
        пока относительно себя (h3) - ни о чем в браузере. Для позже*/
        /* margin: 372px 77px 32px 115px; */
        /* пока вместо по-умолч для h3 22px сделать 32 */
        /* margin-bottom: 32px;   - padding сделать, причем разный... */
        margin-bottom: 0px;
        padding-bottom: 32px;
        /* margin: 0px;
    padding: auto 77px 32px 115px;  так ругается. надо отдельно каждую сторону писать*/

        font-size: 22px;
        /* должен наследоваться 400, но нет, здесь получается font-weight=700. Надо указать */
        font-weight: 400;
        text-align: center;
        color: var(--color-primary-white);
        /* 26/22=1.2 доминантная*/
        /* line-height: 1.2; */

        /* текст как в макете сделать на карточках 
    Max-width 152px не дает результата точного 
     Br делать,
      чтобы «для” на другой строке было */
        max-width: 152px;
        align-self: center;
    }
}